
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    /* Linear gradient background */
    background: linear-gradient(to bottom, #3498db, #9b59b6); /* Gradient from blue to purple */
    color: #fff; /* Set the default text color to white for better visibility on the gradient */
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 22px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

/* footer p {
    margin: 0;
} */
